***Competetion Name: Big Mart Sales Prediction***

- Here we can use different algorithms such as KKN regression,Multiple Regression.
- Top 5 Members:
    1. goldsoleabrar 
    2. urmil  
    3. pramodtata184 
    4. farang 
    5. saqib64  
- My ranking is 3403.
- **Procedure:**
First of all I registered for the competetion 'Big Mart Sales Prediction' on Analytics Vidhya then I downloaded the train and test files in csv format. After the preceding steps I imported the files in jupyter notebook using read_csv() command.Then I have performed the KNN classifier on this loan data.
After completeing all the above procedure I uploaded code file, solution file and after providing appropriate discription I have submitted my solution.

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data1=pd.read_csv('big sale Train.csv')

In [3]:
train_data1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
train_data2=pd.get_dummies(train_data1,columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Type'])

In [5]:
train_data2.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Item_Outlet_Sales,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDA15,9.30,0.016047,Dairy,249.8092,OUT049,1999,Medium,3735.1380,1,0,1,0,0,0,1,0,0
1,DRC01,5.92,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,443.4228,0,1,0,0,1,0,0,1,0
2,FDN15,17.50,0.016760,Meat,141.6180,OUT049,1999,Medium,2097.2700,1,0,1,0,0,0,1,0,0
3,FDX07,19.20,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,732.3800,0,1,0,0,1,1,0,0,0
4,NCD19,8.93,0.000000,Household,53.8614,OUT013,1987,High,994.7052,1,0,0,0,1,0,1,0,0

In [6]:
train_data=pd.DataFrame(train_data2,columns=['Item_Weight','Item_Visibility','Item_MRP','Item_Fat_Content_Low Fat','Item_Fat_Content_Regular','Outlet_Location_Type_Tier 1','Outlet_Location_Type_Tier 2','Outlet_Location_Type_Tier 3','Outlet_Type_Grocery Store','Outlet_Type_Supermarket Type1','Outlet_Type_Supermarket Type2','Outlet_Type_Supermarket Type3','Item_Outlet_Sales'])

In [7]:
train_data.isnull().sum()

Item_Weight                      1463
Item_Visibility                     0
Item_MRP                            0
Item_Fat_Content_Low Fat            0
Item_Fat_Content_Regular            0
Outlet_Location_Type_Tier 1         0
Outlet_Location_Type_Tier 2         0
Outlet_Location_Type_Tier 3         0
Outlet_Type_Grocery Store           0
Outlet_Type_Supermarket Type1       0
Outlet_Type_Supermarket Type2       0
Outlet_Type_Supermarket Type3       0
Item_Outlet_Sales                   0
dtype: int64

In [8]:
train_data['Item_Weight']=train_data['Item_Weight'].fillna(train_data['Item_Weight'].median())

In [9]:
train_data.head()

,Item_Weight,Item_Visibility,Item_MRP,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Outlet_Sales
0,9.30,0.016047,249.8092,1,0,1,0,0,0,1,0,0,3735.1380
1,5.92,0.019278,48.2692,0,1,0,0,1,0,0,1,0,443.4228
2,17.50,0.016760,141.6180,1,0,1,0,0,0,1,0,0,2097.2700
3,19.20,0.000000,182.0950,0,1,0,0,1,1,0,0,0,732.3800
4,8.93,0.000000,53.8614,1,0,0,0,1,0,1,0,0,994.7052

In [10]:
x_train=train_data.iloc[:,0:12]
y_train=train_data.iloc[:,12:13]

In [11]:
from sklearn.neighbors import KNeighborsRegressor
knn=KNeighborsRegressor(n_neighbors=25)
knn.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=25, p=2,
                    weights='uniform')

In [12]:
test_data1=pd.read_csv('big sale Test.csv')

In [13]:
test_data2=pd.get_dummies(test_data1,columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Type'])

In [14]:
test_data=pd.DataFrame(test_data2,columns=['Item_Weight','Item_Visibility','Item_MRP','Item_Fat_Content_Low Fat','Item_Fat_Content_Regular','Outlet_Location_Type_Tier 1','Outlet_Location_Type_Tier 2','Outlet_Location_Type_Tier 3','Outlet_Type_Grocery Store','Outlet_Type_Supermarket Type1','Outlet_Type_Supermarket Type2','Outlet_Type_Supermarket Type3'])

In [15]:
test_data['Item_Weight']=test_data['Item_Weight'].fillna(test_data['Item_Weight'].median())

In [16]:
x_test=test_data.iloc[:,0:12]

In [17]:
test_data.isnull().sum()

Item_Weight                      0
Item_Visibility                  0
Item_MRP                         0
Item_Fat_Content_Low Fat         0
Item_Fat_Content_Regular         0
Outlet_Location_Type_Tier 1      0
Outlet_Location_Type_Tier 2      0
Outlet_Location_Type_Tier 3      0
Outlet_Type_Grocery Store        0
Outlet_Type_Supermarket Type1    0
Outlet_Type_Supermarket Type2    0
Outlet_Type_Supermarket Type3    0
dtype: int64

In [18]:
y_pred=knn.predict(x_test)
y_pred.round(2)

array([[1689.75],
       [1320.84],
       [3945.53],
       ...,
       [1455.31],
       [2941.88],
       [1298.5 ]])

In [19]:
p1=pd.DataFrame(test_data1,columns=['Item_Identifier','Outlet_Identifier'])
p2=pd.DataFrame(y_pred,columns=['Item_Outlet_Sales'])

In [20]:
result = pd.concat([p1, p2], axis=1, sort=False)
result.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1689.747136
1           FDW14            OUT017        1320.840672
2           NCN55            OUT010        3945.530800
3           FDQ58            OUT017        2172.958144
4           FDY38            OUT027        4503.950576

In [22]:
result.to_csv('Big Sale Result2.csv')